@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p><img src="~/images/Image2.jpg" align="right" width="370" height="547" hspace="10" alt="Фото автора"></p>

<div class="text-justify">
    <p>Меня зовут Денис.</p>
    <p>Я студент колледжа ПКГХ. Z выпускинк этого колледжа по специальности "Программирование в компьютерных системах". Но почему я выбрал это направление, спросите вы!.</p>
    <p>
        Появление первого компьютера в моей жизни стало отправным пунктом в моей жизни, связанной с компьютерами.
        С момента окончания школы и по сегодняшний день, моя жизнь связана с компьютерами и компьютерными технологиями,
        которые так прочно вошли в нашу жизнь.
    </p>
    <p>
        Еще совсем недавно человек использовал компьютеры преимущественно для вычисителных дел.
        Но сегодня мы используем вычислительную машину в фантастически огромном репертуаре.
    </p>
    <p>
        Целью многих компаний является создание красивого и практичного программного обеспечения.
        Для кого-то нужна просто красивая обложка, но какая бы обложка не была каждый хочет, чтобы его сайт был функциональным и работал стабильно.
        И тогда, такие ребята как я, беремся за работу и воплащаем фантазии и представления заказчиков
        и интерпритируем это все через механический язык, который называется язык программирования
    </p>
    <p>Поэтому рады вас видеть!</p>
</div>
