@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Liteyniy avenue<br />
    Saint-Petersburg, 191028<br />
    <abbr title="Phone">Phone:</abbr>
    8-(900)-653-55-59
</address>

<address>
    <strong>Support:</strong> <a href="mailto:denisverycool@gmail.com">denisverycool@gmail.com</a><br />
    <strong>Personal:</strong> <a href="mailto:dmselin.ws@gmail.com">dmselin.ws@gmail.com</a>
</address>
